# Elasticsearch Configuration
ELASTICSEARCH_URL=http://elasticsearch:9200
ELASTICSEARCH_USER=elastic
ELASTICSEARCH_PASSWORD=PASSWORD

# ChromaDB Configuration
CHROMADB_HOST=chromadb
CHROMADB_PORT=8000

# PostgreSQL Configuration
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=podcast-search
POSTGRES_USER=podsearcher
POSTGRES_PASSWORD=PASSWORD

# LLM Configuration
# Example for OpenAI:
LLM_PROVIDER=OpenAI
LLM_API_KEY=your_api_key_here
LLM_API_BASE=https://api.openai.com/v1
LLM_MODEL=gpt-4-turbo-preview

# Docker Configuration
DOCKER_PREFIX=podcast-search

# Flask Configuration
FLASK_APP=app.py
FLASK_ENV=production  # Change to 'development' for development mode

# Application Settings
SHOW_PROGRESS=false  # Set to true to enable detailed progress updates 